:root{
    --columns: 10;
    --rows: 10;

    --def-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--def-font-size);
}

.minesweeper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 5px;

    border: 1px solid #333;
    margin: 1em;
    padding: 1em;
}

.box{
    background:gray;
    border: 1px solid #777;
}