:root{
    --ms-columns: 10;
    --ms-rows: 10;
    --ms-cell-width: 30px;
    --ms-cell-height: 30px;
    --ms-grid-gap: 1px;
    --ms-min-width:300px;
    --ms-min-height: 300px;
    --ms-border-width: 1px;
    --ms-margin: 1em;
    --ms-padding: 2px;

    --menu-roll-one: -3deg;
    --menu-roll-two: 1deg;
    --menu-roll-three: 4deg;
    --menu-width: 200px;

    --def-font-size: 16px;
    --blur-mode: 5px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Geneva, sans-serif;
    font-size: var(--def-font-size);

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */    
}

.blur{
    filter: blur(var(--blur-mode));
    -webkit-filter: blur(var(--blur-mode));
    -moz-filter: blur(var(--blur-mode));
}


/*----------------------------------------------- 
                    Game styles 
------------------------------------------------*/
.minesweeper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--ms-columns), var(--ms-cell-width));
    grid-auto-rows: var(--ms-cell-height);
    grid-gap: var(--ms-grid-gap);

    border: var(--ms-border-width) solid #333;
    margin: var(--ms-margin);
    padding: var(--ms-padding);

    min-width:var(--ms-min-width);
    min-height:var(--ms-min-height);
    max-height:calc(100vh - 2*var(--ms-margin));

    overflow-y: auto;
    overflow-x: unset;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    background:gray;
    color:white;
    /* border: 3px solid #555; */
}

.flag{
    background:yellow;
    color:black;
}

.open{
    background: green;
}

.mine{
    background:red;
}


/*----------------------------------------------- 
                    Game menu styles 
------------------------------------------------*/
.game-menu-wrapper{
    position: absolute;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    background: linear-gradient(-50deg, rgb(224, 224, 224) 30%, rgb(138, 138, 138) 60%, rgb(209, 209, 209) 80%);
    background-size: 400% 400%;
    animation: menu-bg 10s ease infinite;
    border: 1px solid #B5B5B5;
    border-radius: 10px;


    /* width:var(--menu-width); */
    min-width: var(--menu-width);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes menu-bg{
    0% {background-position: 0% 50%;}
    25% {background-position: 25% 50%;}
    50% {background-position: 100% 50%;}
    75% {background-position: 25% 50%;}
    100% {background-position: 0% 50%;}
}

.game-over-menu, .game-won-menu, .game-pause-menu, .game-main-menu{
    display:grid;
    grid-template-columns:1fr;

    background: whitesmoke;
    border: 1px solid #B5B5B5;
    border-radius:10px;

    width: 100%;
    padding: 1em;
    margin: 1em;

}

.menu-title{
    display:flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1em;

    font-family:Impact;
    font-size: 1.3em;
    text-transform:uppercase;
    text-shadow: 0px 1px black;
    font-weight: bold;
    letter-spacing: .1em;
}

.lose-game{
    color:rgb(219, 57, 57);
}

.win-game{
    color:rgb(18, 136, 14);
}

.pause-game, .main-menu{
    color:gray;
}

.menu-option{
    display:flex;
    justify-content: center;
    align-items: center;

    background: #676767;
    color: white;

    padding: .5em;
    margin: 5px 0;
    border:1px solid #C3C3C3;
    border-radius: 3px;

    text-transform:uppercase;
    font-weight: bold;
    font-size: .7em;
    letter-spacing: .01em;
    cursor:pointer;

    transition-property:transform, background;
    transition-duration:.1s;
    transition-timing-function:ease-in;
}

.restart-game:hover, .restore-game:hover, .new-game:hover{
    transform: rotateZ(-4deg) translateX(-5px) translateY(-1px);
    background: #008000;
    color:white;
    border:1px solid transparent;
}

.next-game:hover, .load-game:hover{
    transform: rotateZ(2deg) translateX(7px) translateY(-3px);
    background: #1849db;
    color:white;
    border:1px solid transparent;
}

.exit-game:hover, .game-settigns:hover{
    transform: rotateZ(4deg) translateX(5px) translateY(-2px);
    background: #d43f3f;
    color:white;
    border:1px solid transparent;
}
