:root{
    --ms-columns: 10;
    --ms-rows: 10;

    --def-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--def-font-size);
}

.minesweeper{
    display: grid;
    grid-template-columns: repeat(var(--ms-columns), 30px);
    grid-auto-rows: 30px;
    /* grid-auto-columns: 20px; */
    grid-gap: 5px;

    border: 1px solid #333;
    margin: 1em;
    padding: 1em;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;

    background:gray;
    color: white;
    border: 1px solid #777;
}